{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{% static 'css/new_form.css' %}">
    {% block title  %}<title></title> {% endblock %}

    {% block styles %} {% endblock %}

    <style>
        /* Ajoutez ceci dans votre fichier dash.css */
    .items li.active {
        background-color: #6a81b4; /* Couleur de fond pour l'item actif */
        color: rgb(25, 24, 24); 
        border-left: 4px solid #f3f4f6;
        border-radius: 6px;
        /* Couleur du texte pour l'item actif */
        }
    </style>
    
</head>
<body>
    
    <section class="sidebar">
        <div class="sidebar-head">
            <img src="{% static '/img/1737195769624.jpg' %}" alt="" >
            <h3>GesCaisse</h3>
        </div>
        <div class="items">
            <ul>

            {# ================= PROVISEUR ================= #}
            {% if request.user.role == "PROVISEUR" %}
                <li><a href="{% url 'dash_board' %}">Dashboard</a></li>
                <li><a href="{% url 'payment_index' %}">Suivi paiements</a></li>
                <li><a href="{% url 'impayes_list' %}">Impayés</a></li>
                <li><a href="{% url 'retard_payement' %}">Retards</a></li>
                <li><a href="{% url 'journal_tracablite' %}">Audit</a></li>

            {# ================= SECRETAIRE ================= #}
            {% elif request.user.role == "SECRETAIRE" %}
                <li><a href="{% url 'inscription_index' %}">Inscriptions</a></li>
                <li><a href="{% url 'eleve_index' %}">Élèves</a></li>
                <li><a href="{% url 'formation_index' %}">Classes</a></li>

            {# ================= CAISSIER ================= #}
            {% elif request.user.role == "CAISSIER" %}
                <li><a href="{% url 'payment_index' %}">Paiements</a></li>
                <li><a href="{% url 'payment_create' %}">Nouveau paiement</a></li>

            {# ================= COMPTABLE ================= #}
            {% elif request.user.role == "COMPTABLE" %}
                <li><a href="{% url 'payment_index' %}">Paiements</a></li>
                <li><a href="{% url 'type_frais_index' %}">Types de frais</a></li>
                <li><a href="{% url 'frais_inscription_index' %}">Frais inscription</a></li>
                <li><a href="{% url 'impayes_list' %}">Impayés</a></li>
                <li><a href="{% url 'retard_payement' %}">Retards</a></li>
                <li><a href="{% url 'journal_tracablite' %}">Audit</a></li>
            {% endif %}

        </ul>
        </div>
    </section>

    <section id="main">

        <div class="navbar">
            <div class="recherche">
                <h3>GestionCaisse</h3> 
            </div>
            <div class="image">
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="{% url 'account_information'  %}">compte</a>
                        <a href="{% url 'deconnexion' %}">logout</a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="titre">New formulaire</h3>
        
        <div class="values">
            {% block contenu %} {% endblock %} 
            
        </div>
        
    </section>

    {% block scripts %} {% endblock %}
  
</body>
</html>